{% extends 'base.html.twig' %}

{% block title %}Form - Register - Department{% endblock %}

{% block body %}
    <!-- header -->
    {{ include('header/header.html.twig') }}
    <!-- /header -->

    <!-- page title -->
    <section class="page-title-section overlay" data-background="educenter/images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Register new Academic Department</a></li>
                        <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                    </ul>
                    <p class="text-lighten">Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->

    <!-- department -->
    <section class="section bg-gray">
        <div class="container">
            <div class="row ">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /department -->

    <!-- footer -->
    {{ include('footer/footer.html.twig') }}
    <!-- /footer -->
{% endblock %}