{% extends 'base.html.twig' %}

{% block title %}Security - List - Faculty{% endblock %}

{% block body %}

    <!-- list faculty -->
    <section class="section bg-gray">
        <div class="container">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Acronym</th>
                    <th>Mission</th>
                    <th>Vision</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>

                <thead>
                {% for faculty in faculties %}
                <tbody>
                <tr>
                    <td>{{ faculty.name }}</td>
                    <td>{{ faculty.acronym }}</td>
                    <td>{{ faculty.mission }}</td>
                    <td>{{ faculty.vision }}</td>
                    <td>
                        <a class="btn btn-warning" href="#">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="#">Delete</a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
                </thead>
            </table>
        </div>
    </section>
    <!-- /list faculty -->
{% endblock %}
