{% extends 'base.html.twig' %}

{% block title %}Security - List - Faculty{% endblock %}

{% block body %}

    <!-- list school -->
    <section class="section bg-gray">
        <div class="container">
            <div>
                <a class="btn btn-success" href="#">New<i class="fa fa-plus"></i></a>
            </div>
            <br>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>First name</th>
                    <th>Curriculum</th>
                    <th>Faculty</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>

                <thead>
                {% for school in schools %}
                <tbody>
                <tr>
                    <td>{{ school.firstname }}</td>
                    <td>{{ school.curriculum }}</td>
                    <td>{{ school.idFacultad }}</td>
                    <td>
                        <a class="btn btn-warning" href="#">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="#">Delete</a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
                </thead>
            </table>
        </div>
    </section>
    <!-- /list school -->
{% endblock %}
